<% content_for :title, "Editing casinogame" %>

<h1>Editing casinogame</h1>

<%= render "form", casinogame: @casinogame %>

<br>

<div>
  <%= link_to "Show this casinogame", @casinogame %> |
  <%= link_to "Back to casinogames", casinogames_path %>
</div>
