<!-- Banner -->
<div class="p-4 relative">
   <div class="overflow-hidden relative w-full h-[355px] rounded">
       <img id="slider" class="w-full h-[355px]  object-cover rounded transition-opacity duration-500" />
   </div>
</div>

<!-- Navigation Tabs -->
<div class="flex justify-center space-x-4 bg-white p-4 overflow-x-auto">
   <%= link_to"SPORTS",casinogames_path,class: "text-blue-800 font-bold whitespace-nowrap"%>
   <a class="text-gray-600 whitespace-nowrap" href="#">CASINO</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">SLOTS</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">TABLE</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">CRASH</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">FISHING</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">ARCADE</a>
   <a class="text-gray-600 whitespace-nowrap" href="#">LOTTERY</a>
</div>
<body class="bg-gray-100">
   <!-- Sports Section -->
   <div class="p-4">
      <h2 class="text-blue-800 font-bold">SPORTS</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="Cricket icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/fnYaHyRZJQnux9umB_uuDR7Naqq0TWAsSMjmGppJgBA.jpg" width="100"/>
            <p>CRICKET</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="Saba icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/N8-mFkmpONTSC3ZQmhyWSt6XGxym_9wCneI8RPj9O5M.jpg" width="100"/>
            <p>SABA</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="BTi icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/XSCtai-cqc0bBaBtaC_S1BaGh_qNwt_e4V3Sh2R6ImM.jpg" width="100"/>
            <p>BTi</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="SV388 icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/OR1JilAMOXx9SF8ry5d7moomGYKK3Gm8cC_qEI0gLBA.jpg" width="100"/>
            <p>SV388</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="SBO icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/Batb0Sg6P5nCglCqfJ1IRYJrsV4v9E8Wncbb9rw2vn0.jpg" width="100"/>
            <p>SBO</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="Horse icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/P71YkPPGO9PMLXoGXbMeMmFFVhEwsQdkWvp9-Nvo-Lk.jpg" width="100"/>
            <p>HORSE</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="CMD icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/vxKig0FxIF_vmkA03SzB4Ztjb1lH1M2MDyaHJ1ahCnc.jpg" width="100"/>
            <p>CMD</p>
         </div>
         <div class="bg-white p-4 rounded shadow text-center">
            <img alt="Pinnacle icon" class="mx-auto mb-2" height="100" src="https://storage.googleapis.com/a1aa/image/HzmXga5mRhQn7FZ6ZAvSNMc86jumabs69rU6e7wKBOo.jpg" width="100"/>
            <p>PINNACLE</p>
         </div>
      </div>
   </div>
   <!-- Favourites Section -->
   <div class="p-4">
      <h2 class="text-blue-800 font-bold">Favourites</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
         <div class="bg-white p-4 rounded shadow">
            <img alt="Pakistan tour of New Zealand" class="w-full mb-2" height="200" src="https://storage.googleapis.com/a1aa/image/l2w9d-sB4V4LRsM__Sn_PuFAswfroyu6m8t2L9GQizc.jpg" width="300"/>
            <p class="text-center">PAKISTAN TOUR OF NEW ZEALAND, 2025</p>
            <p class="text-center text-green-500">MAR 16 - APR 05</p>
         </div>
         <div class="bg-white p-4 rounded shadow">
            <img alt="Sri Lanka Women tour of New Zealand" class="w-full mb-2" height="200" src="https://storage.googleapis.com/a1aa/image/PrcxhO20HP0Lsocti_V-5DPD7MkNzvJ9ejtEAp_HXuU.jpg" width="300"/>
            <p class="text-center">SRI LANKA WOMEN TOUR OF NEW ZEALAND, 2025</p>
            <p class="text-center text-green-500">MAR 04 - MAR 18</p>
         </div>
         <div class="bg-white p-4 rounded shadow">
            <img alt="Women's Premier League" class="w-full mb-2" height="200" src="https://storage.googleapis.com/a1aa/image/QFkKNDBgjYfLeZyx5WWhtmSYgyyYZQPK-oBXMiqBmlQ.jpg" width="300"/>
            <p class="text-center">WOMEN'S PREMIER LEAGUE, 2025</p>
            <p class="text-center text-green-500">FEB 14 - MAR 15</p>
         </div>
         <div class="bg-white p-4 rounded shadow">
            <img alt="Indian Premier League" class="w-full mb-2" height="200" src="https://storage.googleapis.com/a1aa/image/hnrvh71QxtTX9d7j13o-6ehWaVHagxYXbCFWRdTKdN4.jpg" width="300"/>
            <p class="text-center">INDIAN PREMIER LEAGUE, 2025</p>
            <p class="text-center text-green-500">MAR 22 - MAY 25</p>
         </div>
      </div>
   </div>
   </div>
   </div>
</body>

<script>
const images = [
    "https://i.ibb.co.com/JW2FtsQW/win-fast.png",
    "https://i.ibb.co.com/Gf5p98J0/win-one.png",
    "https://i.ibb.co.com/N6KR5tNt/win-two.png"
];

let currentIndex = 0;
const slider = document.getElementById("slider");

function changeImage() {
    slider.style.opacity = 0;
    setTimeout(() => {
        slider.src = images[currentIndex];
        slider.style.opacity = 1;
        currentIndex = (currentIndex + 1) % images.length;
    }, 500);
}

slider.src = images[currentIndex];
setInterval(changeImage, 6000);
</script>
